.single{
    margin: auto;
    width: 60%;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.name{
    text-transform: capitalize;
    color: mediumslateblue;
}
.dates{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    
}
.single:last-child{
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
}